.container {
  display: flex;
  flex-direction: column; /* Empile les enfants verticalement */
  justify-content: center; /* Centre les enfants verticalement */
  align-items: center; /* Centre les enfants horizontalement */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  text-align: center; /* Centre le texte */
}

img {
    max-width: 412px; /* Limite la largeur de l'image */
    height: auto; /* Maintient le ratio */
    margin: 40px;
  }
  
  button {
    width: 150px; /* Largeur uniforme pour les boutons */
    height: 40px;
    margin: 40px;
    color: black;
    border: 1px solid black;
    background-color: white;

  }
  .container {
    height: 100vh; /* Prend toute la hauteur de l'écran */
  }
  
 
  
  img {
    max-width: 100%; /* Rend le logo responsive */
    height: auto;
  }
  @media (max-width: 960px) {
    .container > div {
      display: flex;
      flex-direction: column; /* Empile les boutons */
      align-items: center; /* Centre les boutons */
    }
  
    button {
      width: 100%; /* Les boutons prennent toute la largeur disponible */
      max-width: 300px; /* Optionnel : Limite la largeur */
    }
  }